<div class="container">
	<div class="row-fluid">
		<hr>
		<div class="pull-left">
			<ul class="nav nav-pills">
				<li><a href="/contact">Contact</a></li>
				<li><a href="/advertisers">Advertisers</a></li>
			</ul>
		</div>
		<div class="disclaimer pull-right">
			© 2014 Vingo Inc.
		</div>
		<br>
		<br>
	</div>
<div class="container">
