<div class="container-narrow">
<div id="nav"></div>
<div id="header">Advertisements will go here</div>
<div class="container">
	<div id="content"></div>
</div>
<div id="footer"></div>
</div>
{{>partials_livereload}}
