<div class="container-narrow">
    <h2>Advertisers</h2>
    <p>If you are an advertisor interested in being a member of our affiliates program, please contact us at the following email.</p>
  <p><strong>By Email:</strong> <a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=bhavin.prajapati@vingosoftware.com" target="_blank">bhavin.prajapati@vingosoftware.com</a><br>
</div> <!-- /container -->
