<div class="container-narrow">
<div class="contact">

  <h2>Jobs</h2>

  <br>

  <p>Please send your resume to the email below.</p>
  <p><strong>By Email:</strong> <a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=support@sendmysterygift.com" target="_blank">support@sendmysterygift.com</a><br>

  <br>

  <h3>Current Opening</h3>

  <a href="#1">Full-Stack Software Engineer</a>
  <br>
  <a href="#2">Buyer</a>
  <br>
  <a href="#2"></a>

  <hr>

  <p id="1"><a name="software"><strong>Full-Stack Software Engineer</strong></a><br>
  	We're looking for a highly talented ninja with amazing Javascript chops. Ideal candidate should have minimum of 2 years of software development experience and familiar with the following technologies...
  	HTML, CSS, JS
  	<br>
  	Node.JS, Express, Backbone, Marionette, Underscore, Mongoose, Require.JS, Grunt
  	<br>
  	MongoDB, Redis
  	<br>
  	Git, AWS
	<br><br>
	Having a CS or Engineering degree isn't neccessary but preferable. You will be one of the first members of the team so a level of leadership will also be helpful. Must be willing to take thing into his/her own hands and make the effort to complete tasks.
	<br><br>
	We have a flexible work schedule, competitive salary, stock options and your choice of working from home.
  </p>

  <hr>

  <p id="2"><a name="software"><strong>Buyer</strong></a><br>
	You'll be a core member our purchasing team responsible for aquiring gifts. Must be responsible with large sums of money and handling items with care. Ideal candidate should have their own vehicle and be an experienced shopper. 
	<br><br>
	Responsibility includes finding products and minimizing cost of goods. Should be very enthusiastic about searching of bulk deals.The candidate should have excellent communication skills and willing to get things done. This is amazing opportunity for a young professional to gain valuable skills around negotiation, business development, asset management and cost reduction.
	<br><br>
	We offer a flexible work schedule, competitive salary, stock options and excellent perks.
  </p>

</div>
</div> <!-- /container -->

