<h1>Account</h1>

<table class="table table-striped table-bordered">
  <tr>
    <td style="width: 120px;"><strong>Name:</strong></td>
    <td>{{user.name.full}}</td>
  </tr>
  <tr>
    <td><strong>Email:</strong></td>
    <td>{{user.email}}</td>
  </tr>
</table>
