{{#if confirm}}
<h1>Submission successful!</h1>
<p>Your company has been added to the list.</p>
<button class="btn btn-large btn-success" type="submit" onClick="location.href='/'">Back</button>
{{else}}
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<script type="text/javascript">
    // this identifies your website in the createToken call below
    Stripe.setPublishableKey('pk_test_CrtfL1Zp9lGvyausOij6Nd0Y');

    $(document).ready(function() {
        $('form').validate({
            rules: {
                companyname: {
                    minlength: 2,
                    maxlength: 15,
                    required: true
                },
                companyemail: {
                    minlength: 1,
                    email: true,
                    required: true
                },
                amount: {
                    minlength: 1,
                    min: 0,
                    number: true,
                    required: true
                },
                url: {
                    minlength: 1,
                    required: true,
                    url: true
                },
                logourl: {
                    minlength: 1,
                    required: true,
                    url: true
                },
                address1: {
                    minlength: 2,
                    required: true
                },
                address2: {
                    minlength: 2
                },
                city: {
                    minlength: 2,
                    maxlength: 15
                },
                stateprovince: {
                    minlength: 2,
                    maxlength: 15
                },
                country: {
                    minlength: 2,
                    maxlength: 15
                },
                zipcodepostalcode: {
                    minlength: 1,
                    maxlength: 6
                },
                phonenumber: {
                    minlength: 2,
                    maxlength: 15
                },
                sloganmessage: {
                    minlength: 2,
                    maxlength: 15
                }
            },
            highlight: function(element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function(element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function(error, element) {
                if(element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $(".payment-errors").hide();
        $(".payment-errors").empty();

        $(".amount").change(function() {
            $(".amountlabel").html("$ " + this.value);
        });

        $("#payment-form").submit(function(event) {
            //Checks if user selected free
            var isfree = $('.checkbox input').is(":checked");

            $(".payment-errors").hide();
            $(".payment-errors").empty();

            // disable the submit button to prevent repeated clicks
            $('.submit-button').attr("disabled", "disabled");

            if($('form').valid()){
              if(isfree == false){
                Stripe.createToken({
                    number: $('.card-number').val(),
                    cvc: $('.card-cvc').val(),
                    exp_month: $('.card-expiry-month').val(),
                    exp_year: $('.card-expiry-year').val()
                }, stripeResponseHandler);
              } else {
                //Submits form without credit card information
                submitForm(null);
              }
            }

            // prevent the form from submitting with the default action
            return false;
        });

        $('.checkbox input').change(function() {
            if($(this).is(":checked")) {
              $('#amount').prop('value', 0);
              $('.card-number').prop('disabled', true);
              $('.card-cvc').prop('disabled', true);
              $('.card-expiry-month').prop('disabled', true);
              $('.card-expiry-year').prop('disabled', true);
              $('#creditcardform').hide();
              $('#amount').prop('disabled', true);
            } else {
              $('.card-number').prop('disabled', false);
              $('.card-cvc').prop('disabled', false);
              $('.card-expiry-month').prop('disabled', false);
              $('.card-expiry-year').prop('disabled', false);
              $('#creditcardform').show();
              $('#amount').prop('disabled', false);
            }
        });
    });

    function stripeResponseHandler(status, response) {
        if (response.error) {
            // show the errors on the form
            $(".payment-errors").append("<p>"+response.error.message+"</p>");
            $(".payment-errors").show();
            $(".submit-button").removeAttr("disabled");
        } else {
            submitForm(response);
        }
    }

    function submitForm(response){
      // token contains id, last4, and card type
      var token;
      if (response == null) {
        token = "None";
      } else {
        token = response['id'];
      }
      var form$ = $("#payment-form");
      // insert the token into the form so it gets submitted to the server
      form$.append("<input type='hidden' name='stripeToken' value='" + token + "'/>");
      form$.append("<input type='hidden' name='fullname' value='" + $("#fullname").text() + "'/>");
      form$.append("<input type='hidden' name='email' value='" + $("#email").text() + "'/>");
      form$.append("<input type='hidden' name='isfree' value='" + $("#checkbox").is(':checked') + "'/>");
      // and submit
      form$.get(0).submit();
    }
</script>

<h1>Purchase ad</h1>
<p class="lead">Fill in the information below.</p>

<!-- Only Stripe token is currently POSTed to server. -->
<form action="/stripe" method="POST" id="payment-form" class="form-horizontal">
  <p class="lead">Amount</p>
  <div class="checkbox">
    <label>
      <input class="form-control" id="checkbox" name="checkbox" type="checkbox">Free
    </label>
  </div>
  <br/>
  <input id="amount" name="amount" class="amount span2 pull-left" type="input" value="0" min="0">
  <br></br>
  <div class="row-fluid marketing">
    <div class="span5">
      <p class="lead">Recepient Information</p>
      <div class="form-group">
          <div class="form-row">
            <label for="companyname">Company Name *</label>
            <div class="input-group">
                <input class="form-control" id="companyname" name="companyname" type="text" />
            </div>
          </div>
      </div>
      <div class="form-group">
          <div class="form-row">
            <label for="companyemail">Company Email *</label>
            <div class="input-group">
                <input class="form-control" id="companyemail" name="companyemail" type="text" />
            </div>
          </div>
      </div>
      <div class="form-group">
          <div class="form-row">
            <label for="url">Url *</label>
            <div class="input-group">
                <input class="form-control" id="url" name="url" type="text" />
            </div>
          </div>
      </div>
      <div class="form-group">
          <div class="form-row">
            <label for="logourl">Logo Url *</label>
            <div class="input-group">
                <input class="form-control" id="logourl" name="logourl" type="text" />
            </div>
          </div>
      </div>
      <div class="form-group">
          <div class="form-row">
            <label for="address1">Address 1 *</label>
            <div class="input-group">
                <input class="form-control" id="address1" name="address1" type="text" />
            </div>
          </div>
      </div>
      <div class="form-group">
          <div class="form-row">
            <label for="address2">Address 2</label>
            <div class="input-group">
                <input class="form-control" id="address2" name="address2" type="text" />
            </div>
          </div>
      </div>
      <div class="form-group">
          <div class="form-row">
            <label for="city">City</label>
            <div class="input-group">
                <input class="form-control" id="city" name="city" type="text" />
            </div>
          </div>
      </div>
      <div class="form-group">
          <div class="form-row">
            <label for="state_province">State / Province</label>
            <div class="input-group">
                <input class="form-control" id="state_province" name="stateprovince" type="text" />
            </div>
          </div>
      </div>
      <div class="form-group">
          <div class="form-row">
            <label for="country">Country</label>
            <div class="input-group">
                <input class="form-control" id="country" name="country" type="text" />
            </div>
          </div>
      </div>
      <div class="form-group">
          <div class="form-row">
            <label for="zipcode_postalcode">Zip Code / Postal Code</label>
            <div class="input-group">
                <input class="form-control" id="zipcode_postalcode" name="zipcodepostalcode" type="text" />
            </div>
          </div>
      </div>
      <div class="form-group">
          <div class="form-row">
            <label for="phonenumber">Phone Number</label>
            <div class="input-group">
                <input class="form-control" id="phonenumber" name="phonenumber" type="text" />
            </div>
          </div>
      </div>
      <div class="form-group">
          <div class="form-row">
            <label for="sloganmessage">Slogan/Message</label>
            <div class="input-group">
                <textarea class="form-control sloganmessage" id="sloganmessage" name="sloganmessage" type="text" rows="3"></textarea>
            </div>
          </div>
      </div>
    </div>

    <div id="creditcardform" class="span5">
      <p class="lead">Credit Card Information</p>
      <p><i>We don't store your credit card information</i></p>
      <div class="form-row">
        <label>Card Number *</label>
        <input type="text" size="20" autocomplete="off" class="card-number"/>
      </div>
      <div class="form-row">
        <label>Security Code (CVC) *</label>
        <input type="text" size="4" autocomplete="off" class="card-cvc"/>
      </div>
      <div class="form-row">
        <label>Expiration (MM/YYYY) *</label>
        <select class="span4 card-expiry-month" name="ValidSelection" id="expiration-month" class="">
            <option value="0">Month</option>
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="01">05</option>
            <option value="02">06</option>
            <option value="03">07</option>
            <option value="04">08</option>
            <option value="01">09</option>
            <option value="02">10</option>
            <option value="03">11</option>
            <option value="04">12</option>
        </select>
        <span> / </span>

        <select class="span4 card-expiry-year" name="ValidSelection" id="expiration-year" class="">
            <option value="0">Year</option>
            <option value="13">2013</option>
            <option value="14">2014</option>
            <option value="15">2015</option>
            <option value="16">2016</option>
            <option value="17">2017</option>
            <option value="18">2018</option>
            <option value="19">2019</option>
        </select>
      </div>
    </div>
  </div>
  <div class='payment-errors alert alert-warning'></div>
  <button class="btn btn-large btn-success" type="submit" class="submit-button">Order</button>
</form>
<div style="display:none" id="fullname">{{user.name.full}}</div>
<div style="display:none" id="email">{{user.email}}</div>
{{/if}}
