<td>{{index}}</td>
<td><a href="{{{url}}}"><img class="media-object" data-src="holder.js/64x64" onerror="this.src='http://placehold.it/64x64';" alt="http://placehold.it/64x64" src="{{{logourl}}}" style="width: 64px; height: 64px;"></a></td>
<td><a href="{{{url}}}">{{{companyname}}}</a></td>
<td>{{{amount}}}</td>
