<div class="container-narrow">
  <div class="text-center">
    <h4>A company can purchase an ad for any amount they wish, even for <font color="red">FREE</font>.</h4>
    <h4>Companies are listed in order of the amount they purchased their ad.</h4>
    <h4>This is a global experiment to see if I can create demand.</h4>
    <h4>This website will be viewed by thousands of users.</h4>

    <div class="text-center" style="margin: 0 auto;width: 36%;">
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
      <a class="addthis_button_preferred_1"></a>
      <a class="addthis_button_preferred_2"></a>
      <a class="addthis_button_preferred_3"></a>
      <a class="addthis_button_preferred_4"></a>
      <a class="addthis_button_compact"></a>
      <a class="addthis_counter addthis_bubble_style"></a>
      </div>
      <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53589aaf0d9e79cd"></script>
      <!-- AddThis Button END -->
    </div>
    <br>
    <a class="btn btn-large btn-success" href="/purchase">Purchase ad</a>
    <div id="companylist" class="companylist">
    <div class="panel panel-default">
        <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Logo</th>
              <th>Company Name</th>
              <th>Amount</th>
            </tr>
          </thead>
            <tbody class="companies">

            </tbody>
        </table>
      </div>
    </div>
  </div>
</div> <!-- /container -->
