<div class="container-narrow">
  <div class="text-center">
    <h4>A company can purchase an ad for any amount they wish, even for <font color="red">FREE</font>.</h4>
    <h4>Companies are listed in order of the amount they purchased their ad.</h4>
    <h4>This is a global experiment to see if I can create demand.</h4>
    <h4>This website will be viewed by thousands of users.</h4>
    <a class="btn btn-large btn-success" href="/purchase">Purchase ad</a>

    <div id="companylist" class="companylist">
		<div class="panel panel-default">
	      <!-- Table -->
	      <table class="table">
	        <thead>
	          <tr>
	            <th>#</th>
	            <th>Logo</th>
	            <th>Company Name</th>
	            <th>Amount</th>
	          </tr>
	        </thead>
            <tbody class="companies">

            </tbody>
	      </table>
	    </div>
    </div>
  </div>
</div> <!-- /container -->
