<style type="text/css">
  body {
    background-color: #FFFFFF;
  }
  .form-register {
    max-width: 350px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
       -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  }
  .form-register .form-register-heading,
  .form-register .checkbox {
    margin-bottom: 10px;
  }
  .form-register input[type='text'],
  .form-register input[type='password'] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }
</style>

<div class="form-register">
  {{#if messages}}
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{#each messages}}
    <div>{{{this}}}</div>
    {{/each}}
  </div>
  {{/if}}

  <form method="post">
    <input type="hidden" name="_csrf" value="{{csrf}}"></input>
    <h2 class="form-register-heading">New account</h2>
    <input type="text" class="input-block-level" name="username" placeholder="e-mail address" value="{{form.username}}"></input>
    <input type="password" class="input-block-level" name="password" placeholder="password"></input>
    <input type="password" class="input-block-level" name="passwordRepeat" placeholder="repeat password"></input>
    <div class="row-fluid">
      <input type="text" class="span6 input-block-level" name="firstName" placeholder="first name" value="{{form.firstName}}"></input>
      <input type="text" class="span6 input-block-level" name="lastName" placeholder="last name" value="{{form.lastName}}"></input>
    </div>
    <p>
      <div class="row-fluid">
        <div class="span12">
          <button class="span6 btn btn-large btn-primary" type="submit">Register</button>
          <a class="span6 btn btn-large btn-info" href="/login">Login</a>
        </div>
      </div>
    </p>
  </form>
</div>

<script>
  window.onload = function () {
    $('.form-register > form input[name="{{focus}}"]').focus();
  }
</script>
